<div class="h-[60px] flex p-4 bg-primarydark bg-opacity-50 border-b border-white border-opacity-10 backdrop-blur">
  <div class="z-50 mx-2"><mat-icon>settings</mat-icon></div>
  <div class="z-50">Machine Shop Tech</div>
  <div class="grow"></div>
  <div class="z-50 cursor-pointer sm:hidden" (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="hidden sm:flex">
    <app-navigation-items
      [navItems]="navItems"
      [inline]="true"
    ></app-navigation-items>
  </div>
</div>
