<div class="px-4 py-6">
  <div class="flex justify-center items-center mb-6 text-fuchsia-600 w-14 h-14 bg-gradient-to-br from-fuchsia-900 to-fuchsia-500 outline outline-2 shadow-md rounded-full">
    <mat-icon class="scale-125 text-fuchsia-300">air</mat-icon>
  </div>

  <div class="text-indigo-400 mb-4">
    {{ title }}
  </div>

  <div class="mb-4 text-3xl font-bold">
    {{ subtitle }}
  </div>

  <div class="mb-4 opacity-60 leading-loose" innerHtml="{{descriptionHTML}} ">
  </div>

  <div class="mb-8">
    <app-call-to-action [title]="'Learn More'" [style]="'secondary'"></app-call-to-action>
  </div>

  <div class="flex justify-center">
    <div 
      class="w-60 h-60 bg-gray-900 rounded-xl shadow overflow-hidden relative flex justify-center items-center">
      <img src="/assets/images/drone_spray.jpg" alt="" class="absolute left-0 top-0 w-full h-auto">
      <div class="relative bg-transparent text-center">
      </div>
    </div>
  </div>

</div>