<div class="relative">
  
  <div class="grid grid-cols-1 place-content-center h-screen md:h-auto md:min-h-[600px] p-4 md:mt-14">
    <div class="text-center my-2">
      <h1 class="text-5xl font-bold">{{ headline }}</h1>
    </div>
    <div class="text-center my-2">
      <span class="opacity-50">
        {{ subHeadline }}
      </span>
    </div>
    <div class="flex justify-center my-2">
      <app-call-to-action 
        [callToAction]="callToAction"
      ></app-call-to-action>
    </div>
  </div>
  

  <div class="flex justify-center absolute bottom-0 w-full my-4 opacity-30 ">
    <div class="text-center">
      <!-- <div class="text-xs tracking-widest ">SCROLL</div> -->
      <mat-icon class="animate-bounce">expand_more</mat-icon>
    </div>
  </div>

</div>