

<div class="flex">
  <div class="grow text-2xl mb-4">{{ listTitle }}</div>
  <div class="opacity-50 text-sm font-thin cursor-pointer" (click)="onSeeAll(listCategory)">SEE ALL</div>
</div>

<div *ngIf="listCategory === 'latest'; else featured">

  <div class="grid grid-cols-2 gap-3 md:gap-8">
    <div *ngFor="let post of latestPosts | slice:0:3; index as i; first as isFirst;"
      class="h-[360px] cursor-pointer transition ease-in-out hover:scale-[1.01] duration-100 drop-shadow"
      [class]="isFirst ? 'col-span-2' : 'col-span-1'"
      (click)="selectPost(post.slug)"
    >
      <div class="w-full h-full bg-slate-800 rounded-2xl overflow-hidden flex flex-col"
        [class]="isFirst ? 'md:grid md:grid-cols-2' : ''"
      >
        <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{post: post, first: isFirst}"></ng-container>
      </div>
    </div>
  </div>

</div>

<ng-template #featured>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-3 md:gap-8">
    <div *ngFor="let post of featuredPosts; index as i; first as isFirst;"
      class="h-[260px] md:h-[360px] cursor-pointer transition ease-in-out hover:scale-[1.01] duration-100 col-span-1"
      (click)="selectPost(post.slug)"
    >
      <div class="w-full h-full bg-slate-800 rounded-2xl overflow-hidden flex flex-col">
        <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{post: post}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #card let-post="post" let-isFirst="isFirst">
  <div class="grow content-center bg-indigo-900 overflow-hidden">
    <img class="object-cover" src="{{ urlFor(post.mainImage) }}" />
  </div>
  <div class="p-3 md:p-6">
    <div>{{ post.title }}</div>
    <div class="flex text-sm opacity-50 mt-2">
      <div class="grow hidden sm:flex">{{ post.author.name }}</div>
      <div class="hidden sm:flex">6 mins</div>
    </div>
    <div>
      {{ post.publishedAt | date }}
    </div>
  </div>
</ng-template>