<!-- Post Lit Title -->
<div class="flex">
  <div class="grow text-2xl mb-4">{{ listTitle }}</div>
  <div *ngIf="summary" class="opacity-50 text-sm font-thin cursor-pointer" (click)="onSeeAll(listCategory)">SEE ALL</div>
</div>

<!-- Post Summaries -->
<div *ngIf="listCategory === 'latest'; else featured">
  <div class="grid grid-cols-2 gap-3 md:gap-8">
    <div *ngFor="let post of (summary ? (latestPosts | slice:0:3) : latestPosts); index as i; first as first;"
      class="h-[360px] cursor-pointer transition ease-in-out hover:scale-[1.01] duration-100 drop-shadow"
      [class]="first ? 'col-span-2' : 'col-span-1'"
      (click)="selectPost(post.slug)">
      <div class="w-full h-full bg-secondarydark rounded-2xl overflow-hidden flex flex-col"
        [class]="first ? 'md:grid md:grid-cols-2' : ''">
        <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{post: post, first: first}"></ng-container>
      </div>
    </div>
  </div>

</div>

<ng-template #featured>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-3 md:gap-8">
    <div *ngFor="let post of (summary ? (featuredPosts | slice:0:4) : featuredPosts); index as i; first as first;"
      class="h-[260px] md:h-[360px] cursor-pointer transition ease-in-out hover:scale-[1.01] duration-100 col-span-1"
      (click)="selectPost(post.slug)"
    >
      <div class="w-full h-full bg-secondarydark rounded-2xl overflow-hidden flex flex-col">
        <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{post: post}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #card let-post="post" let-first="first">
  <div class="grow content-center bg-primary overflow-hidden">
    <div class="relative pt-[56.25%]"><img class="absolute left-0 top-0 w-full h-auto" [src]="sanityService.urlFor(post.mainImage)" /></div>
  </div>
  <div class="flex flex-col p-3 md:p-6">
    <div class="mb-4 text-xl font-bold"
      [class]="first ? 'text-2xl' : ''">
      {{ post.title }}
    </div>
    <div [class]="first ? 'hidden md:flex md:grow mb-4 leading-loose items-center' : 'hidden'">
      {{ portableTextService.toPreviewSnippet(post.body, 50) }}
    </div>
    <div class="flex items-center"
      [class]="first ? 'items-end' : ''">
      <div class="rounded-full h-12 w-12 overflow-hidden">
        <img [src]="sanityService.urlFor(post.author.image)">
      </div>
      <div class="ml-3">
        <div class="font-semibold">{{ post.author.name }}</div>
        <div class="font-thin text-sm">{{ post.publishedAt | date }}</div>
      </div>
    </div>
  </div>
</ng-template>