<mat-drawer-container>
  <mat-drawer #sideNav mode="over" position="end" class="bg-gray-900 text-white p-12">
    <div
      (click)="sideNav.close()" 
      class="absolute top-4 right-4 text-gray-500">
      <mat-icon>close</mat-icon>
    </div>
    <app-navigation-items></app-navigation-items>
  </mat-drawer>
  <mat-drawer-content>
    <div class="realitve bg-slate-900 text-white h-screen overflow-scroll">

      <div class="fixed top-0 z-50 w-full">
        <app-toolbar (menuClick)="sideNav.toggle()"></app-toolbar>
      </div>
      <div class="absolute">
        <app-header></app-header>

        <div 
          *ngFor="let service of services; let odd=odd" 
          [class]="odd 
            ? 'bg-slate-800 border-t border-slate-600' 
            : 'bg-zinc-800 border-t border-zinc-700'"
        >
            <app-section
              [title]="service.title"
              [subtitle]="service.subtitle"
              [description]="service.description"
            ></app-section>
        </div>
      </div>

    </div>
      
  </mat-drawer-content>
</mat-drawer-container>



