<div class="flex justify-center w-full">
  <div class="pt-[60px] px-6 max-w-[1000px]" *ngIf="post">
  
    <div class="w-full text-3xl mt-10 mb-4">
      {{ post.title }}
    </div>
  
    <div class="flex items-center opacity-50 mb-4">
      <mat-icon class="mr-3">schedule</mat-icon> 6 min
    </div>
  
    <div class="flex items-center">
      <div class="rounded-full h-12 w-12 overflow-hidden">
        <img [src]="sanityService.urlFor(post.author.image)">
      </div>
      <div class="ml-3">
        <div class="font-semibold">{{ post.author.name }}</div>
        <div class="font-thin text-sm">{{ post.publishedAt | date }}</div>
      </div>
    </div>
  
    <div class="w-full mt-10 mb-10" *ngIf="post.body">
      <app-portable-text [portableText]="post.body"></app-portable-text>
    </div>
  
  </div>
</div>
