<div class="w-full my-14">
  <div class="text-center">
    <div class="text-3xl font-bold my-4">Blog</div>
    <div class="text-xl font-thin opacity-50">The latest information straight from the team</div>
  </div>
</div>


<div class="flex justify-center m-6" *ngIf="(route.url | async) as url">
  <div class="w-full">
    <div *ngIf="!url.length; else fullList">
      <div class="mb-20">
        <app-post-list [listCategory]="'latest'" [summary]="true"></app-post-list>
      </div>
      <div class="mb-20" >
        <app-post-list [listCategory]="'featured'" [summary]="true"></app-post-list>
      </div>
    </div>

    <ng-template #fullList>
      <div *ngIf="url[0].path === 'latest';">
        <app-post-list [listCategory]="'latest'" [summary]="false"></app-post-list>
      </div>
      <div *ngIf="url[0].path === 'featured';">
        <app-post-list [listCategory]="'featured'" [summary]="false"></app-post-list>
      </div>
    </ng-template>

  </div>
</div>

